@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500;0,900;1,900&display=swap");
:root {
  --main-color: #176083;
  --main-color-transparent: rgba(23, 96, 131, 0.95);
  --secondary-color: #6791a5;
  --secondary-color-transparent: #146082;
  --white-color: #ffffff;

  --modal-bg-color: rgba(0, 0, 0, 0.85);
  --modal-grey-color: #acacac;

  --main-text-color: rgb(32, 32, 32);
  --light-text-color: #666666;
  --grey-text-color: #949494;
  --link-color: #176083;
  --link-hover-color: rgb(32, 32, 32);

  --danger-color: #ec312b;
  --success-color: #4b762a;

  --sides-padding: 8vw;
  --top-bottom-padding: 4em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.smootth-scroll {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-color);
  color: var(--main-text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  text-align: justify;
  margin-bottom: 0.5em;
  line-height: 1.8
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: var(--link-hover-color);
  opacity: 0.6;
}

ul {
  margin-left: 6em;
  margin-bottom: 2em;
}
ol {
  padding-left: 5em !important;
}

button {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.5em 1em;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}
button.btn-main-color {
  background-color: var(--main-color);
  color: var(--white-color);
}

/* floating labels */
.floating-label {
  display: block;
  pointer-events: none;
  padding-left: 1em;
  font-size: 1.1em;
  line-height: 1.5rem;
  transform: translateY(1.6em);
  color: var(--light-text-color);
  transition: all 0.3s ease, color 0.4s;
}

.floating-label.moveUp {
  transform: translateY(0);
  line-height: 1.5rem;
  font-size: 0.8em;
  color: var(--main-color);
}

input,
textarea {
  background-color: transparent;
  padding: 0.5em 1.5em;
  border: none;
  border-bottom: 1px solid var(--light-text-color);
  font-size: 1em;
  outline: none;
  width: 100%;
}
input[type="checkbox"] {
  width: auto;
  margin-right: 0.3em;
  transform: translateY(8%);
}
.current-input {
  border-bottom: 1px solid var(--main-color);
}

::placeholder {
  opacity: 0.7;
}

:-ms-input-placeholder {
  opacity: 0.7;
}

::-ms-input-placeholder {
  opacity: 0.7;
}

hr {
  height: 1px;
  background-color: var(--main-text-color);
  opacity: 0.5;
  border: none;
  margin: 1em 0;
}

section {
  padding: var(--top-bottom-padding) var(--sides-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}

.terms-container {
  width: 100%;
}

.section-title {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1.5em;
}

::placeholder {
  color: var(--main-text-color);
  opacity: 0.7;
}

:-ms-input-placeholder {
  color: var(--white-color);
  opacity: 0.7;
}

::-ms-input-placeholder {
  color: var(--main-text-color);
  opacity: 0.7;
}

.error {
  color: var(--danger-color);
}
.success {
  color: var(--success-color);
}
/* ============preloader===================== */
.preloader {
  position: fixed;
  top: 0em;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(256, 256, 256, 0.95);
  opacity: 0;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}
.preloader img {
  width: 7em;
  animation: rotate 2s infinite;
}

/* =======pagination============= */
.pagination-container {
  width: 100%;
  height: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination {
  display: flex;
  margin-top: 2em;
  font-size: 0.8em;
}
.pagination-container .pagination {
  margin-top: 0;
}
.pagination .page-item {
  padding: 0.4em 1em;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
}
.pagination .page-item:last-child {
  border-radius: 0 0.3em 0.3em 0;
}
.pagination .page-item:first-child {
  border-left: 1px solid var(--main-color);
  border-radius: 0.3em 0 0 0.3em;
}
.pagination .page-item.active {
  background-color: var(--main-color);
  color: var(--white-color);
}
.pagination .page-item.active a {
  color: var(--white-color);
}
/* ======================HEADER=============================== */
header {
  z-index: 10;
  width: 100%;
  padding: 2em var(--sides-padding);
  background-color: white;
}

.header-menu {
  width: 100%;
}

header.showNav {
  transform: translateY(-100%);
  animation-name: slideDown;
  animation-fill-mode: forwards;
}

header.hideNav {
  transform: translateY(-100%);
  animation-name: slideUp;
  animation-fill-mode: forwards;
}

#logo-section {
  display: flex;
  align-items: center;
}

#logo {
  width: 8em;
}

#logo-section h1 {
  font-size: 2em;
  font-weight: 500;
  line-height: 1;
}

.subtitle-span {
  font-size: 0.7em;
  letter-spacing: 0.31em;
  font-family: "Dancing Script";
  display: block;
  text-align: center !important;
  margin-top: 0.2em;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.nav-links div {
  display: flex;
}

header .nav-links li {
  padding: 0 1em;
  color: var(--main-text-color);
  cursor: pointer;
  text-align: center;
}

header .nav-links li a {
  color: var(--main-text-color);
  text-align: center;
}

header .nav-links li:first-child {
  padding-left: 0;
}
header .nav-links li:last-child {
  padding-right: 0;
}

.home-page-link:last-of-type {
  margin-right: 1em;
}

.link-to-page {
  text-transform: uppercase;
  font-weight: 500;
}
.link-to-page a {
  font-weight: 500;
}

.current {
  color: var(--secondary-color);
}

/* Hamburger */
#hamburger {
  display: none;
  transition: all 0.7s ease-in-out;
  z-index: 2;
}

#hamburger div {
  pointer-events: none;
  width: 1.9em;
  height: 0.3em;
  margin: 0.4em;
  transition: all 0.7s ease;
  background-color: var(--main-color);
}

#hamburger.toggle-burger .line1 {
  transform: rotate(-135deg) translate(-5px, 6px);
  position: relative;
  top: 0.15em;
  background-color: var(--white-color);
}

.toggle-burger .line2 {
  opacity: 0;
}

#hamburger.toggle-burger .line3 {
  transform: rotate(135deg) translate(-5px, -6px);
  position: relative;
  bottom: 0.1em;
  background-color: var(--white-color);
}

/* ########################## FOOTER ##################################### */
footer {
  width: 100%;
  padding: var(--top-bottom-padding) var(--sides-padding);
  background-color: var(--main-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  text-align: center;
}

footer a,
footer a:visited {
  color: var(--white-color);
}

/* =====================CUSTOM DROPDOWN NEW====================== */
.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}
.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.custom-select__trigger {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  font-size: 1.1em;
  color: var(--grey-text-color);
  text-align: left;
  background: #ffffff;
  cursor: pointer;
  border-bottom: 1px solid var(--light-text-color);
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border-top: 0;
  background: #fff;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
}
.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-option {
  position: relative;
  display: block;
  padding: 1em;
  color: var(--light-text-color);
  text-align: left;
  cursor: pointer;
  transition: all 0.5s;
}
.custom-option:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}
.custom-option.selected {
  color: #ffffff;
  background-color: var(--main-color);
}
/* arrow */
.arrow {
  position: relative;
  height: 0.8em;
  width: 0.8em;
  margin-left: 1em;
}
.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.1em;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: 0.2em;
  transform: rotate(45deg);
  background-color: var(--main-color);
}
.arrow::after {
  left: -0.3em;
  transform: rotate(-45deg);
  background-color: var(--main-color);
}
.open .arrow::before {
  left: 0.2em;
  transform: rotate(-45deg);
}
.open .arrow::after {
  left: -0.3em;
  transform: rotate(45deg);
}
/* ********************************************************* */

/* ################################# MAIN CONTENT ############################### */
/* ================Become a member modal ======================== */
.requests-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 11;
  transform: translate(-50%, -50%);
  max-width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em 6em;
  background-color: var(--modal-bg-color);
  color: var(--white-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
.close-modal-btn {
  position: absolute;
  top: 2em;
  right: 2em;
  width: 2em;
  transition: transform 0.3s ease-in-out;
}
.close-modal-btn:hover {
  cursor: pointer;
  transform: rotate(90deg);
}
.requests-modal form {
  width: 50em;
  max-width: 100%;
}
.requests-modal .floating-label {
  color: var(--white-color);
}
.requests-modal .floating-label.moveUp {
  color: var(--modal-grey-color);
}
.requests-modal label,
.requests-modal input,
.requests-modal textarea,
.requests-modal a {
  color: var(--white-color);
}
.requests-modal a {
  text-decoration: underline;
}
.requests-modal input,
.requests-modal textarea {
  border-bottom: 1px solid var(--modal-grey-color);
}
.requests-modal .current-input {
  border-bottom: 1px solid var(--white-color);
}

/* modal custom dropdon */
.requests-modal .custom-select__trigger {
  color: var(--white-color);
  background: transparent;
  border-bottom: 1px solid var(--modal-grey-color);
}
.requests-modal .arrow::before,
.requests-modal .arrow::after {
  background-color: var(--white-color);
}

/*================ Home page======================== */
.hero {
  width: 100%;
  height: 75vh;
  background: url("../img/hero.jpg") no-repeat center/cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero-btns {
  display: flex;
  justify-content: center;
}
.hero-btns button {
  margin: 1em;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  font-size: 1.2em;
}
.hero-btns button.call-to-action {
  background-color: var(--white-color);
  color: var(--main-color);
}
.hero-btns button.call-to-action:hover {
  color: var(--white-color);
  background-color: rgba(0, 0, 0, 0.4);
}

#strategy,
#members-path {
  flex-wrap: wrap;
  background: #232427;
  color: var(--white-color);
}

#mission,
#become-a-member {
  padding-bottom: 0;
}

#about-us p,
#mission p,
#membership-benefits p {
  width: 100%;
  text-align: left;
}
#membership-benefits p {
  margin-bottom: 0.1em;
}

#about-us .section-title,
#mission .section-title,
#membership-benefits .section-title {
  align-self: flex-start;
}

#about-us p,
#strategy p,
#mission p,
#become-a-member p,
#membership-benefits p {
  line-height: 1.8;
  margin-bottom: 1em;
}

#strategy .section-title,
#become-a-member .section-title {
  align-self: flex-end;
}
#strategy p,
#become-a-member p {
  text-align: right;
}

#members-path .section-title,
#news-section .section-title {
  text-align: center;
}

.path-cards-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.path-card {
  position: relative;
  width: 30em;
  height: 35em;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  margin: 2em;
  transition: 0.5s;
}

.path-card .box {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  right: 1.5em;
  bottom: 1.5em;
  background: #2a2b2f;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.path-card .box:hover {
  transform: translateY(-1em);
}

.path-card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

.path-card .box .box-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3em 2em 2em;
  text-align: center;
  height: 100%;
}

.path-card .box .box-content h2 {
  position: absolute;
  top: -0.2em;
  right: 0.2em;
  font-size: 8em;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.1);
}

.path-card .box .box-content h3 {
  font-size: 1.5em;
  color: #fff;
  z-index: 1;
  margin-bottom: 1em;
}
.path-card .box .box-content h3 span {
  font-weight: 400;
}

.path-card .box .box-content ul {
  text-align: left;
  padding-left: 1em;
  margin: 0 2em 2em;
}
.path-card .box .box-content ul li {
  margin-bottom: 0.8em;
}
.path-card .box .box-content ul li:last-child {
  margin-bottom: 0;
}

.path-card .box .box-content button {
  color: var(--white-color);
  border: 1px solid var(--white-color);
  font-size: 1.5em;
  cursor: pointer;
}

#aum-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

#aum-section .counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  color: var(--main-color);
  margin: 0.5em;
}

#aum-section .counter-container h3 {
  font-size: 0.5em;
  font-weight: 300;
}

.contact-container {
  display: flex;
  width: 100%;
}
.contact-container .contact-logo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-details {
  width: 60%;
}
.contact-container .contact-logo-img {
  width: 100%;
  margin-bottom: 2em;
}
.contact-container .contact-logo img.contact-icon {
  width: 1.8em;
  transform: translateY(20%);
  margin-right: 0.5em;
}
.contact-details {
  width: 100%;
}
.contact-container .contact-logo p {
  width: 100%;
  text-align: center;
}
.contact-container form {
  width: 50%;
}
.form-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.form-line .input-container {
  width: 100%;
}
.form-line .input-container.half-width {
  width: 45%;
}
.input-container input {
  width: 100%;
}

.terms-checkbox {
  margin: 1em 0;
}

.all-fields-required-message {
  color: var(--danger-color);
  margin: 0;
  display: none;
}

.submit-contact,
.submit-request-form {
  color: var(--white-color);
  background-color: var(--main-color);
  font-size: 1.2em;
  margin-top: 1em;
  width: 100%;
}

.captcha-failed-p {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.2em;
  font-weight: 500;
}
.grecaptcha-badge {
  visibility: hidden;
}

/* ++++ Portfolio Page ++++++ */
.portfolio-table {
  width: 100%;
  max-width: 100% !important;
  border-collapse: collapse;
}

.portfolio-table tr:hover {
  background-color: #aaaaaa30;
  cursor: default;
}
.portfolio-table th,
.portfolio-table td {
  text-align: center;
  padding: 1em 0.5em;
}
.disclaimer_p {
  font-size: 0.9em;
  color: rgb(71, 71, 71);
  margin-top: 4em;
}

.members-only-msg h2 {
  font-size: 1.75em;
}
.members-only-msg p {
  font-size: 1.5em;
}
.members-only-msg span {
  cursor: pointer;
}

/* ========================================== */
.hide {
  opacity: 0 !important;
  pointer-events: none !important;
}
.show {
  opacity: 1 !important;
  pointer-events: all !important;
}

/* ==================NEWS PAGE========================== */
#news-section .section-title {
  margin-bottom: 2em;
}
.news-article {
  width: 100%;
  padding: 4em;
  margin-bottom: 4em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.news-article:last-child {
  margin-bottom: 0;
}
.article-title{
  font-size: 1.7em;
  color: var(--main-color);
}
.ticker-span {
  color: var(--grey-text-color);
}
.article-date {
  font-size: 1.2em;
  color: var(--grey-text-color);
  margin-top: 0.5em;
}
.article-content {
  display: flex;
  width: 100%;
  gap: 2em;
}
.article-image {
  height: 16em;
  max-width: calc(100% - 14em);
  object-fit: contain;
  clear: both;
}
.article-subtitle {
  font-size: 1em;
}
.article-text {
  overflow: hidden;
  min-width: 12em;
  max-height: 11.5em;
}
.read-more-btn {
  color: var(--white-color);
  background-color: var(--main-color);
  font-size: 1.2em;
  padding: 0.5em 1em;

}
.read-more-btn-container {
  background-color: var(--white-color);
  padding: 2em 0 0 2em;
  display: flex;
  flex-direction: row-reverse;
}

.full-article-content {
  display: block;
  height: auto;
}
.full-article-image {
  float: left;
  margin-right: 3em;
  margin-bottom: 1em;
}
.article-subtitle {
  margin-bottom: 1em;
}

/* =================Newsletter Form================================ */
.newsletter-signup-container {
  padding: 1em;
  min-width: 36em;
}
.newsletter-signup-container h1 {
  text-align: center;
  color: var(--main-color);
  margin-bottom: 1em;
}
.newsletter-signup-container p {
  line-height: 1.5;
  text-align: center;
}
.input-btn-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.input-btn-container button {
  padding: 0.8em 4em;
}
.input-container {
  width: calc(100% - 10em);
}



/* ################################## RESPONSIVE ########################## */

@media screen and (max-width: 1024px) {
  header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
  }

  header hr {
    display: none;
  }

  #hamburger {
    display: block;
  }
  .header-menu {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    transform: translateX(100%);
  }

  .nav-links {
    width: 70%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 0;
    background-color: var(--main-color-transparent);
    color: var(--white-color);
  }

  .nav-links div {
    flex-direction: column;
  }

  header .nav-links li a,
  header .nav-links li {
    color: var(--white-color);
    font-size: 1.5em;
    min-height: 1em;
    padding: 0;
    margin-bottom: 2em;
    font-weight: 300;
    text-align: center;
  }

  .hero {
    height: 45vh;
  }
  .article-content {
    flex-direction: column;
  }
  .article-image {
    height: 12em;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  header .nav-links li a,
  header .nav-links li {
    color: var(--white-color);
    font-size: 1.2em;
  }
  .hero-btns button {
    font-size: 0.9em;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-container .contact-logo {
    width: 100%;
    align-items: center;
    margin-bottom: 5em;
  }
  .logo-details {
    width: 100%;
  }
  .contact-container .contact-logo-img {
    width: 15em;
    margin-bottom: 2em;
    display: block;
    margin: 0 auto 2em auto;
  }
}

@media screen and (max-width: 450px) {
  :root {
    --sides-padding: 5vw;
  }
  body {
    font-size: 0.6em;
  }
  .nav-links {
    width: 100%;
  }
  #logo-section h1 {
    font-size: 1.4em;
  }

  /* become a member modal */
  .requests-modal {
    padding: 4em 2em;
    font-size: 1.3em;
  }
  .requests-modal .section-title {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  .form-line {
    flex-direction: column;
  }
  .form-line .half-width {
    width: 100% !important;
  }

  /* contact form */
  .contact-container form {
    font-size: 1.3em;
    width: 100%;
  }
  /* portfolio page */
  .portfolio-table {
    font-size: 0.8em;
  }
}

/* ################################# ANIMATIONS ########################### */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* navslide in mobile */
@keyframes navSlideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes navSlideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes rotate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
